body {
    background-image: url(Hogwarts-Castle.jpeg);
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    font-family: Arial, sans-serif;
  }
  
  strong{
    font-family: "lucida handwriting",arial  ;
    color: #7d5828;
    font-size: 70px;
    margin-top: -150px;
    margin-left: 360px;
  }
  h1{
    text-align: right;
    margin-top: -120px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  
  label {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "lucida handwriting",arial;
    color: rgb(125, 88, 40);
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgb(125, 88, 40);;
  }
  
  button {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(125, 88, 40);;
    color: #fff;
    box-shadow: 0 0 5px rgb(125, 88, 40);;
    cursor: pointer;
  }
  
  #sortingResult {
    display: none;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #a52a2a;
    text-align: center;
  }
  